{{ define "main" }}
<article class="box:border-box pt:32">
    <header class="mb:32">
        <div class="font:40 font:extrabold">{{ .Title }}</div>
        <div class="mt:16 f:fade-60">
            {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
            <time>{{ .Date | time.Format (":date_medium") }}</time>
            {{ else }}
            <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
            {{ end }}
            {{- end -}}
        </div>
    </header>
    {{- partial "prose.html" . -}}
    <script src="https://utteranc.es/client.js"
        repo="[ENTER REPO HERE]"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
    </script>
</article>
{{ end }}